<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="icon" href="/Assets/Logo_single.png" />
    <link rel="stylesheet" href="/CSS/output.css" />
    <link rel="stylesheet" href="/CSS/canvas.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Days+One&family=Inter:wght@400;700;800;900&family=Poppins:wght@100;200;300;400;500;700&display=swap"
        rel="stylesheet" />
</head>

<body>
    <section class="bg-white">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <div class="flex items-center mb-4 text-3xl font-bold uppercase text-gray-700">
                <img class="w-8 h-8 mr-2" src="./assets/Logo_single.png" alt="logo" />
                Kokoh Semesta
            </div>
            <div class="w-full bg-white rounded-lg shadow-md dark:border md:mt-0 sm:max-w-md xl:p-0">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-700 md:text-2xl">
                        Login
                    </h1>
                    <form class="space-y-4 md:space-y-6" action="" method="POST">
                        <div>
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-700">Email</label>
                            <input type="email" name="email" id="email"
                                class="bg-gray-50 border border-gray-300 text-gray-700 sm:text-sm rounded-lg focus:outline-0 focus:ring-inset focus:ring-2 focus:ring-[#2E3192] block w-full p-2.5"
                                placeholder="name@gmail.com" required="" />
                        </div>
                        <div>
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-700">Password</label>
                            <input type="password" name="password" id="password" placeholder="••••••••"
                                class="bg-gray-50 border border-gray-300 text-gray-700 sm:text-sm rounded-lg focus:outline-0 focus:ring-inset focus:ring-2 focus:ring-[#2E3192] block w-full p-2.5"
                                required="" />
                        </div>
                        <div>
                            <input type="checkbox" name="remember" id="remember" />
                            <label for="remember" class="text-sm font-medium text-gray-700">Remember Me?</label>
                        </div>
                        <input type="submit" value="Login"
                            class="py-2 px-5 text-sm font-medium text-white rounded-md bg-[#2E3192] hover:bg-[#5458C8]" />
                    </form>
                </div>
                <div
                    class="bg-red-300 w-full h-[80px] mt-5 border-[3px] border-red-500 rounded-lg text-sm font-medium text-red-700 items-center justify-center">
                </div>
            </div>
        </div>
    </section>
</body>

</html>