<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="icon" href="/Assets/Logo_single.png" />
    <link rel="stylesheet" href="/CSS/output.css" />
    <link rel="stylesheet" href="/CSS/canvas.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Days+One&family=Inter:wght@400;700;800;900&family=Poppins:wght@100;200;300;400;500;700&display=swap"
        rel="stylesheet" />
</head>
<body>
    <!-- CONTENT BODY -->
    <div class="w-[90%] md:w-[85%] min-h-screen overflow-x-auto mx-2 my-4 rounded-lg flex justify-center items-center">
        <img src="./Assets/techny-404-error-in-laptop.png" alt="">
    </div>

    <!-- FOOTER -->
    <div class="w-full mt-12 flex flex-col items-center justify-center h-[200px] bg-[#2E3192]">
        <h1 class="text-[8px] md:text-[12px] text-center font-semibold text-white">
            Copyright © 2023 Syikha Creative Production. All Right Reserved
        </h1>
    </div>
</body>
</html>